*{
    font-family: 'Playfair Display', serif;
}

body {
    background-color: #fdf1ec;
}

h1{
    font-family: 'Bentham', serif;
    font-size: 60px;
    color: #474747;
    margin: 0;
}

h2{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.header, .input-ingredients{
    text-align: center;
    align-content: center;
}

input::placeholder{
    opacity: .5;
    font-style: italic;
    text-transform: lowercase;
}

input[type=text]{
    border-radius: .2rem;
    border-width: 0.5px;
    font-family: 'Raleway', sans-serif;
    font-size: 0.5rem;
    width: 10rem;
    height: 1rem;
}

.meal-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background-color: white;
    overflow: hidden;
}

.meal{
    background-color: white;
    position: absolute;
    width: 800px;
    height: 150px;
    border-radius: 4px;
    margin: 5%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
	flex-wrap: wrap;
}

.meal:hover{
    /* border-width: 0.8px; */
    /* border-style: solid; */
    /* border-color: #F2F2F2; */
    cursor: pointer;
    overflow: hidden;
}

.meal:hover h1{
    text-decoration: underline;
    
}

.meal:hover img{
    scale: 1;
    transition: ease-in 400ms;
    object-fit: cover;
    width: 200px;
    height: 150px;
	object-position: 50% 50%;
    overflow: hidden;
}

.meal:hover .meal-category, .meal:hover .meal-area{
    scale: 2;
    color: black;
}


.meal-image img{
    width: 200px;
    height: 150px;
    position: relative;
    float: left;
    /* margin: 5px 0 5px 5px; */
    margin: 0;
    /* scale: 1.3; */
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.meal-category, .meal-area{
    font-size: 1rem;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    color: #E6CECA;
    margin-left: 10px;
    margin-top: 10px;
}

.meal-title{
    margin-left: 10px;
    position: relative;
}