*{
    font-family: 'Playfair Display', serif;
}

body {
    background-color: #fdf1ec;
}

h1{
    font-family: 'Bentham', serif;
    font-size: 34px;
    color: #474747;
   
}

h2{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.header, .input-ingredients{
    text-align: center;
    align-content: center;
}

.input-ingredients-form input[text]{
    border-radius: 2rem;
    background-color: red;
}
